.cat-comp-img-container
{
    /* background-color: red; */
    height: 50%;
    width: 100%;
    overflow: hidden;
    position: relative;
    object-fit:cover;
}

.cat-comp-img
{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    transform-origin: right;
}

.cat-comp-card
{
    box-shadow: 0 24px 36px #34578c1e !important;
    transition: all 0.2s ease;
}

.cat-comp-card:hover
{
    border: 1.5px solid #34578c77;
}

.cat-comp-card:hover .cat-comp-img
{
    width: 150%;
    height: 150%;
}