.catalog-page-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cid-top-bar
{
    background-color: #f2f2f5;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.catalog-category-main {
    padding: 0 6rem;
}

.catalog-page-body
{
    width: 100%;
    position: relative;
    display: flex;
    gap: 2rem;
}

.catalog-item-display
{
    width: 100%;
}