.cid-top-filter
{
    background: #0077B6;
    display: none;
    align-items: center;
    height: 3.7rem;
    padding: 2.2rem 0;
}

.ctf-action
{
    padding: 1rem;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 500;
}

.ctf-action-2
{
    border-left: 2px solid rgba(255, 255, 255, 0.20);;
    border-right: 2px solid rgba(255, 255, 255, 0.20);;
}



@media screen and (max-width:756px) {

    .cid-top-filter
    {
        display: flex;
        /* position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 100%; */
    }

    .catalog-filter-section
    {
        display: none;
    }

    .catalog-filter-mobile {
        display: flex;
        position: absolute;
        top: -14rem;
        left: 0;
        z-index: 100000;
        min-height: 125vh;
        width: 100%;
        background-color: #fff;
        overflow-y: scroll;
    }
}

