.cid-top-filter
{
    background: #025492;
    display: none;
    align-items: center;
    height: 3.7rem;
    padding: 1.8rem 0;
}

.ctf-action
{
    padding: 1rem;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
}

.ctf-action-2
{
    border-left: 2px solid rgba(255, 255, 255, 0.20);;
    border-right: 2px solid rgba(255, 255, 255, 0.20);;
    padding:1rem 2rem;
}

.ctf-action-3
{
    text-align: center;
    align-items: center;
}

#sortFilter
{
    background: transparent;
    color: #ffffff;
    outline: none;
    border: none;
}
#sortFilter2
{
    background: transparent;
    color: #111111;
    outline: none;
    border: none;
}

#sortFilter option
{
    color: #111;
    font-weight: 500;
}


@media screen and (max-width:756px) {

    .cid-top-filter
    {
        display: flex;
        position: sticky;
        top: 119px;
        left: 0;
        z-index: 100;
        width: 100%;
    }

    .catalog-filter-section
    {
        display: none;
    }

    .catalog-filter-mobile {
        display: flex;
        position: fixed;
        top: 0rem;
        left: 0;
        z-index: 100000;
        /* min-height: 125vh; */
        width: 100%;
        background-color: #fff;
        overflow-y: scroll;
    }
}

