.item-cat-container
{
    position: relative;
    width: 100%;
    margin-top: 3.375rem;
    margin-bottom: 1rem;
    /* background-color: red; */
    height: auto;
    padding-bottom: 1rem;
    overflow: visible;
}

.ic-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:600;
    font-size: 1.4rem;
   
    padding: 0.4rem;
    margin-bottom: 1.5rem;
}

.seemore-btn
{
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
}

.ic-body
{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    /* padding: 1rem; */
    /* grid-auto-rows: minmax(100px, auto); */
}

.cat-ic-body
{
    grid-template-columns: repeat(4, 1fr) !important;
    /* grid-auto-rows: minmax(100px, auto) !important; */
    gap: 3rem;
}

.suggested-ic-body
{
    grid-template-columns: repeat(4, 1fr) !important;
    /* grid-auto-rows: minmax(100px, auto) !important; */
    gap: 4rem;
}

.ic-body::-webkit-scrollbar {
    /* border-color: rebeccapurple; */
    background-color: transparent;
    height: 3px;
}

.ic-body::-webkit-scrollbar-thumb {
    background: #d5d5de41;
    height: 1px;
    border-radius: 10px;
}

@media screen and (max-width:1200px) {
    .ic-body
    {
        /* overflow-x: auto; */
    }
}
@media screen and (max-width:800px) {
    .cat-ic-body,.special-ic-body-one
    {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1rem;
        /* padding: 0.5rem; */
    }

    .special-ic-body-two
    {
        grid-template-columns: repeat(1,1fr) !important;
    }

    .suggested-ic-body
    {
        grid-template-columns: repeat(2, 1fr) !important;
            gap: 1rem;
    }

}


