.cart-action-btn
{
    border: 1px solid #00b4d8 !important;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.addToCart-btn
{
    width: 90% !important;
    /* width: 400px !important; */
    background: linear-gradient(180deg, #00B4D8, #0077B6);
    padding-top: 1.8rem !important;
    padding-bottom: 1.8rem !important;
    font-size: 1.5rem;
    border-radius: 6px !important;
}