.cart-action-btn
{
    border: 1px solid #00b4d8 !important;
    /* padding: 0.5rem; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* margin-right: 0.5rem; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #00b4d8;
    /* background-color: #03045E; */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    
}

.addToCart-btn
{
    width: 100% !important;
    /* width: 400px !important; */
    background: linear-gradient(180deg, #00B4D8, #0077B6);
    padding-top: 1.8rem !important;
    padding-bottom: 1.8rem !important;
    font-size: 1.5rem;
    border-radius: 50px !important;
}

.buyNow-btn
{
    border:2px solid #00B4D8;
    color: #00B4D8 !important;
    background: #ffffff !important;
    background-color: #ffffff !important;
}
.more-product-info
{
    width: 100%;
    max-width: 501px;
    height: 72px;
    flex-shrink: 0;
    background:  rgba(0, 119, 182, 0.12);
    justify-content: center;
    gap: 1rem;
    margin-left: auto;
    padding: 0 1.25rem;
}
.delivers-within
{
    background: linear-gradient(180deg, #0077B6 0%, #03045E 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
}


.product-images-small
{
    border-radius: 0.25rem;
    border: 2px solid  rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 8px 0px rgba(52, 87, 140, 0.12);
}

.product-images-small img
{
    object-fit: contain;
}

.product-details-section
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pds-right
{
    
    max-width: 500px;
}

.seller-info-section
{
    border-radius: 0.5rem;
    background:  #FFF;
    box-shadow: 0px 4px 8px 0px rgba(52, 87, 140, 0.12);
    padding: 1rem;
}


@media screen and (max-width:500px) {
    .addToCart-btn,.buyNow-btn
    {
        font-size: 1.2rem;
        margin: 0 auto;
        width: 90% !important;
        border-radius: 30px !important;
        height: 2rem;
    }

}
