.cart-action-btn
{
    border: 1px solid #00b4d8 !important;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.addToCart-btn
{
    width: 90% !important;
    /* width: 400px !important; */
    background: linear-gradient(180deg, #00B4D8, #0077B6);
    padding-top: 1.8rem !important;
    padding-bottom: 1.8rem !important;
    font-size: 1.5rem;
    border-radius: 6px !important;
}

.buyNow-btn
{
    border:2px solid #00B4D8;
    color: #00B4D8 !important;
    background: #ffffff !important;
    background-color: #ffffff !important;
}
.more-product-info
{
    margin-top: 2rem;
    width: 100%;
    max-width: 501px;
    height: 72px;
    flex-shrink: 0;
    background:  rgba(0, 119, 182, 0.12);
    justify-content: center;
    gap: 1rem;
    margin-left: auto;
}
.delivers-within
{
    background: linear-gradient(180deg, #0077B6 0%, #03045E 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}