.profile-content-pi
{
    /* background-color: aqua; */
    border-radius: 0.625rem;
    border: 2px solid rgba(0, 0, 0, 0.10);
    padding: 1rem;
    padding-top: 0.5rem;
}

.pc-pi-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.pc-pi-edit
{
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 0.3125rem;
    border: 2px solid rgba(0, 0, 0, 0.10);
    color: rgba(0, 0, 0, 0.30);
    cursor: pointer;
    
}
.pc-pi-save
{
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 0.3125rem;
    background-color: #00A8D1;
    border: 2px solid #00A8D1;
    /* color: #ffffff; */
    cursor: pointer;
}

.pc-pi-cancel
{
    background-color: rgb(139, 10, 10) !important;
    color: white;
}
.pcmain-input
{
    font-size: 1.2rem;
}

.profileUpdatePass
{
    display: none !important;
}

.profileUpdatePassActive
{
    display: flex;

}

.pc-pi-main1,.pc-pi-main2{
    gap: 12rem !important;
}


.delivered,.processing,.cancelled
{
    border-radius: 1.25rem;
    background-color: #F1FFEE;
    color: #1FD000 ;
    display: flex ;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    height: 30px;
    margin: 0 auto;
}

.cancelled
{
    background-color: rgba(174, 18, 18, 0.075);
    color: red;
}

.processing
{
    background-color: rgba(212, 212, 3, 0.1);
    color: rgb(114, 114, 12);
}

.myOrders-tabs
{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0, 0.10);
}

.myOrder-tab
{
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0, 0.40);
    gap: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

.myOrder-tab span
{
    background-color: rgb(0, 0, 0, 0.10);
    border-radius: 1.25rem;
    padding:  0 0.5em;
    font-size: 0.8rem;
}

.myOrderActive
{
    border-bottom: 2px solid #00A8D1;
    color: #00A8D1;
}

.myOrderActive span
{
    transition: all 0.3s ease;
    color: #00A8D1;
}


.orderTable-header
{
    /* background-color: rebeccapurple; */
}

.myOrders-search
{
    border-radius: 0.625rem;
    border: 2px solid rgba(0, 0, 0, 0.10);
    background: rgba(0, 0, 0, 0.02);
    max-width: 20rem;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: all 0.3s ease;
}

.myOrders-search-mobile
{   
    max-width: 3rem;
    cursor: pointer;
}

.myOrders-search-mobile input
{
    display: none;
}

.myOrders-search input
{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
}




@media screen and (max-width:750px) {
    

        .pc-pi-main3 {
            /* gap: 0.5rem !important; */
            max-width: 635px !important;
        }

} 
@media screen and (max-width:600px) {
    .pcmain-input
    {
        max-width: 180px !important;
        font-size: 1rem;
        /* background-color: #00A8D1; */
    }

        .pc-pi-main1,
        .pc-pi-main2,.pc-pi-main3 {
            gap: 0.5rem !important;
        }


        .myOrder-tab {
            
            font-size: 0.8rem;
        }
} 