.pc-container
{
    min-width: 180px;
    background-color: red;
}


@media screen and (max-width:800px){
    
    .pc-container-mobile
    {
        display: flex;
        gap: 1rem;
        height: 200px !important;
    }
}