.pc-container
{
    /* min-width: 200px; */
    background-color: red;
      /* Set max-height for two lines of text */
      max-height: calc(2 * (10em)); /* Assuming line-height is 1.2 times the font-size */
      /* Enable text truncation for overflow */
      overflow: hidden;
      text-overflow: ellipsis;
      
     
  
    
    
}


@media screen and (max-width:768px){
    
    .pc-container-mobile
    {
        display: flex;
        gap: 1rem;
        height: 200px !important;
        max-height: calc(2 * (13em)); /* Adjusted line height for smaller screens */

        
    }
}