
.homepage-slider {
    position: relative;
    width: 100%;
    /*max-width: 1628px; */
    margin: 0 auto; 
    height: 600px;
    max-height: 600px;
    overflow: hidden;
    /* margin-top: 1rem; */
    /* border-radius: 15px; */
    background-color: #070707; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Apply a subtle shadow for depth */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background-color: black;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide-img {
    display: block;
    width: 100%;
    height: 100%;
   /* object-position: top; */
    object-fit: cover;
    margin: 0 auto;
}
.swiper-slide-video {
    display: block;
    width: 100%;
    height: 100%;
    /* object-position: top; */
    object-fit: contain;
    margin: 0 auto;
}

.swiper-slide-item {
    width: 100%;
    height: 100%;
}

/* Styles for the homepage slider info container */
.homepage-slider-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.9), rgba(17, 17, 17, 0.2));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertically center content */
    background-blur: 5px; /* Apply a slight background blur effect */
    color: white;
    padding: 2rem; /* Increase padding for more spacing */
    /*font-size: 1.2rem;*/
    /*border: 2px solid #0e0d0d; Add a border for better contrast */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Apply a subtle shadow for depth */
}

.hsinfo-main
{
    width: 100%;
    height: 100%;
    max-width: 1628px;
    -color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hsinfo-top
{
    display: flex;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hsinfo-top p
{
    max-width: 15ch;
    line-height: 1.2;
}



.hsinfo-btn
{
    display: flex;
    gap: 1rem;
    padding: 0.375rem 0.75rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.375rem;
    width: 12rem;
    height: 2.6rem;
    color: #111111;
    cursor: pointer;
}



@media screen and (max-width:500px) {
    .homepage-slider
    {
        height: 280px;
    }
        .hsinfo-top {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
}


.mobile-search-wrapper
{
    outline: none;
    border: none;
    height: 100%;
}
