body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    
}


/* Apply styles to the root container */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Apply styles to the main content container */
main {
    flex-grow: 1;
}