.sh-container
{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.homepage-category-body
{
    /* padding: 0 1.5rem; */
}

.homepage-category-main
{
    position: relative;
        width: 91.67%;
        /* max-width: 1684px; */
        margin: 0 auto;
}